/*тут ты почти ничего не трогаешь сама, нужно что-то сделать, пиши мне*/
a {
    text-decoration: none;
}

p,
pre, ol {
    font-size: 18px;
    font-family: "Avenir Next W10 Regular", Tahoma, Geneva, sans-serif;
    
}

h1 {
    font-size: 30px;
    color: rgb(50, 50, 50);
    font-family: Tahoma;
}

#main {
    width: 500px;
    margin-left: 20px;
    text-align: center;
}

#code {
    margin-left: 20px;
}

.codeImg {
    width: 850px;
}
ol{
    text-align: left;
}
/*button css*/

.btn-1 {
    padding: 1em 3em;
    border: 3px solid rgb(128, 128, 128);
    transition: all 300ms ease;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-family: "Avenir Next W10 Regular", Tahoma, Geneva, sans-serif;
    font-weight: 500;
    position: relative;
    color: #4A4A4A;
    display: inline-block;
}

.btn-1:before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background: rgb(255, 165, 0);
    top: 0;
    left: 50%;
    z-index: -1;
    transition: all 0ms ease;
}

.btn-1:hover {
    color: white;
    border: 3px solid rgb(255, 165, 0);
    box-shadow: none;
}

.btn-1:hover:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    
    background: rgb(255, 165, 0);
    top: 0;
    left: 0%;
    z-index: -1;
    transition: all 300ms ease;
}
